Assignment6/wsdl/PJSMaster/PJSMaster.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://service.sol6.PJS.dp2.polito.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.sol6.PJS.dp2.polito.it/"
	name="PJSMasterService">
	<documentation>PoliTo - DP2_2012 - PJSMaster WSDL v1.1</documentation>
	<types>
		<xs:schema xmlns:tns="http://service.sol6.PJS.dp2.polito.it/"
			xmlns:ns1="http://pad.polito.it/PJSInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema"
			version="1.0" targetNamespace="http://service.sol6.PJS.dp2.polito.it/">

			<xs:import namespace="http://pad.polito.it/PJSInfo" />

			<xs:element name="endJob" type="tns:endJob" />

			<xs:element name="getClusterName" type="tns:getClusterName" />

			<xs:element name="getClusterNameResponse" type="tns:getClusterNameResponse" />

			<xs:element name="getClusterStatus" type="tns:getClusterStatus" />

			<xs:element name="getClusterStatusResponse" type="tns:getClusterStatusResponse" />

			<xs:element name="getHostNames" type="tns:getHostNames" />

			<xs:element name="getHostNamesResponse" type="tns:getHostNamesResponse" />

			<xs:element name="getHosts" type="tns:getHosts" />

			<xs:element name="getHostsResponse" type="tns:getHostsResponse" />

			<xs:element name="getJobGroups" type="tns:getJobGroups" />

			<xs:element name="getJobGroupsResponse" type="tns:getJobGroupsResponse" />

			<xs:element name="getJobs" type="tns:getJobs" />

			<xs:element name="getJobsResponse" type="tns:getJobsResponse" />

			<xs:element name="getMasterHost" type="tns:getMasterHost" />

			<xs:element name="getMasterHostResponse" type="tns:getMasterHostResponse" />

			<xs:element name="killJob" type="tns:killJob" />

			<xs:element name="killJobGroup" type="tns:killJobGroup" />

			<xs:element name="resumeJob" type="tns:resumeJob" />

			<xs:element name="resumeJobGroup" type="tns:resumeJobGroup" />

			<xs:element name="submit" type="tns:submit" />

			<xs:element name="submitResponse" type="tns:submitResponse" />

			<xs:element name="suspendJob" type="tns:suspendJob" />

			<xs:element name="suspendJobGroup" type="tns:suspendJobGroup" />

			<xs:complexType name="getHostNames">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getHostNamesResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getJobGroups">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getJobGroupsResponse">
				<xs:sequence>
					<xs:element name="return" nillable="true" minOccurs="0"
						maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence />
							<xs:attribute name="name" type="xs:ID" use="required" />
							<xs:attribute name="description" type="xs:string" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="killJob">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getClusterName">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getClusterNameResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="resumeJobGroup">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getJobs">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getJobsResponse">
				<xs:sequence>
					<xs:element name="return" nillable="true" minOccurs="0"
						maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence />
							<xs:attribute name="jobID" type="xs:string" use="required" />
							<xs:attribute name="state" type="ns1:JobStatus" use="required" />
							<xs:attribute name="submissionHost" type="xs:string"
								use="required" />
							<xs:attribute name="submissionTime" type="xs:long"
								use="required" />
							<xs:attribute name="jobGroup" type="xs:string" />
							<xs:attribute name="executionHost" type="xs:string" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getMasterHost">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getMasterHostResponse">
				<xs:sequence>
					<xs:element name="return" minOccurs="0">
						<xs:complexType>
							<xs:sequence />
							<xs:attribute name="name" type="xs:string" use="required" />
							<xs:attribute name="type" type="ns1:HostType" use="required" />
							<xs:attribute name="status" type="ns1:HostStatus"
								use="required" />
							<xs:attribute name="load" type="xs:int" />
							<xs:attribute name="memory" type="xs:int" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getClusterStatus">
				<xs:sequence />
			</xs:complexType>

			<xs:complexType name="getClusterStatusResponse">
				<xs:sequence>
					<xs:element name="return" type="ns1:ClusterStatus"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="endJob">
				<xs:sequence>
					<xs:element name="arg0" type="xs:integer" minOccurs="0" />
					<xs:element name="arg1" type="xs:int" />
					<xs:element name="arg2" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="suspendJobGroup">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="killJobGroup">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="resumeJob">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getHosts">
				<xs:sequence>
					<xs:element name="arg0" type="xs:string" nillable="true"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="getHostsResponse">
				<xs:sequence>
					<xs:element name="return" nillable="true" minOccurs="0"
						maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence />
							<xs:attribute name="name" type="xs:string" use="required" />
							<xs:attribute name="type" type="ns1:HostType" use="required" />
							<xs:attribute name="status" type="ns1:HostStatus"
								use="required" />
							<xs:attribute name="load" type="xs:int" />
							<xs:attribute name="memory" type="xs:int" />
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="suspendJob">
				<xs:sequence>
					<xs:element name="arg0" type="xs:int" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="submit">
				<xs:sequence>
					<xs:element name="arg0" type="xs:string"
						minOccurs="0" />
					<xs:element name="arg1" type="xs:string" minOccurs="0" />
					<xs:element name="arg2" type="xs:string" minOccurs="0" />
					<xs:element name="arg3" type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="submitResponse">
				<xs:sequence>
					<xs:element name="return" type="xs:int" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>

		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" version="1.0" targetNamespace="http://pad.polito.it/PJSInfo">

			<xs:simpleType name="JobStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="PENDING" />
					<xs:enumeration value="RUNNING" />
					<xs:enumeration value="DONE" />
					<xs:enumeration value="EXIT" />
					<xs:enumeration value="SUSPENDED" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="HostType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="MASTER" />
					<xs:enumeration value="SERVER" />
					<xs:enumeration value="CLIENT" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="HostStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OK" />
					<xs:enumeration value="UNAVAIL" />
					<xs:enumeration value="CLOSED" />
					<xs:enumeration value="UNLICENSED" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ClusterStatus">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OK" />
					<xs:enumeration value="UNAVAIL" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</types>

	<message name="getHosts">
		<documentation>Returns all available hosts (request)</documentation>
		<part name="parameters" element="tns:getHosts" />
	</message>
	<message name="getHostsResponse">
		<documentation>Returns all available hosts (response)</documentation>
		<part name="parameters" element="tns:getHostsResponse" />
	</message>
	<message name="getJobGroups">
		<documentation>Returns all available jobGroups (request)
		</documentation>
		<part name="parameters" element="tns:getJobGroups" />
	</message>
	<message name="getJobGroupsResponse">
		<documentation>Returns all available jobGroups (response)
		</documentation>
		<part name="parameters" element="tns:getJobGroupsResponse" />
	</message>
	<message name="getJobs">
		<documentation>Returns all available jobs (request)</documentation>
		<part name="parameters" element="tns:getJobs" />
	</message>
	<message name="getJobsResponse">
		<documentation>Returns all available jobs (response)</documentation>
		<part name="parameters" element="tns:getJobsResponse" />
	</message>
	<message name="getMasterHost">
		<documentation>Returns the master host (request)</documentation>
		<part name="parameters" element="tns:getMasterHost" />
	</message>
	<message name="getMasterHostResponse">
		<documentation>Returns the master host (response)</documentation>
		<part name="parameters" element="tns:getMasterHostResponse" />
	</message>
	<message name="getClusterName">
		<documentation>Returns the cluster name (request)</documentation>
		<part name="parameters" element="tns:getClusterName" />
	</message>
	<message name="getClusterNameResponse">
		<documentation>Returns the cluster name (response)</documentation>
		<part name="parameters" element="tns:getClusterNameResponse" />
	</message>
	<message name="getClusterStatus">
		<documentation>Returns the cluster status (request)</documentation>
		<part name="parameters" element="tns:getClusterStatus" />
	</message>
	<message name="getClusterStatusResponse">
		<documentation>Returns the cluster status (response)</documentation>
		<part name="parameters" element="tns:getClusterStatusResponse" />
	</message>
	<message name="getHostNames">
		<documentation>Returns names of all available hosts (request)
		</documentation>
		<part name="parameters" element="tns:getHostNames" />
	</message>
	<message name="getHostNamesResponse">
		<documentation>Returns names of all available hosts (response)
		</documentation>
		<part name="parameters" element="tns:getHostNamesResponse" />
	</message>
	<message name="submit">
		<documentation>Submit a new job (request) - @Arg submissionHostName
			@Arg cmd @Arg stdin @Arg jobGroup.
		</documentation>
		<part name="parameters" element="tns:submit" />
	</message>
	<message name="submitResponse">
		<documentation>Submit a new job (response) - @Return An integer
			representing the jobID. Return -1 if not submitted.
		</documentation>
		<part name="parameters" element="tns:submitResponse" />
	</message>
	<message name="endJob">
		<documentation>Callback operation: PJSDispatch service should call it
			when job execution terminates
		</documentation>
		<part name="parameters" element="tns:endJob" />
	</message>
	<message name="suspendJob">
		<documentation>Suspend a single job</documentation>
		<part name="parameters" element="tns:suspendJob" />
	</message>
	<message name="resumeJob">
		<documentation>Resume a single job</documentation>
		<part name="parameters" element="tns:resumeJob" />
	</message>
	<message name="killJob">
		<documentation>Kill a single job</documentation>
		<part name="parameters" element="tns:killJob" />
	</message>
	<message name="suspendJobGroup">
		<documentation>Suspend an entire jobGroup</documentation>
		<part name="parameters" element="tns:suspendJobGroup" />
	</message>
	<message name="resumeJobGroup">
		<documentation>Resume an entire jobGroup</documentation>
		<part name="parameters" element="tns:resumeJobGroup" />
	</message>
	<message name="killJobGroup">
		<documentation>Kill an entire jobGroup</documentation>
		<part name="parameters" element="tns:killJobGroup" />
	</message>
	<portType name="PJSMaster">
		<operation name="getHosts">
			<documentation>Returns all available hosts</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getHostsRequest"
				message="tns:getHosts" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getHostsResponse"
				message="tns:getHostsResponse" />
		</operation>
		<operation name="getJobGroups">
			<documentation>Returns all available jobGroups</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getJobGroupsRequest"
				message="tns:getJobGroups" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getJobGroupsResponse"
				message="tns:getJobGroupsResponse" />
		</operation>
		<operation name="getJobs">
			<documentation>Returns all available jobs</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getJobsRequest"
				message="tns:getJobs" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getJobsResponse"
				message="tns:getJobsResponse" />
		</operation>
		<operation name="getMasterHost">
			<documentation>Returns the master host</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getMasterHostRequest"
				message="tns:getMasterHost" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getMasterHostResponse"
				message="tns:getMasterHostResponse" />
		</operation>
		<operation name="getClusterName">
			<documentation>Returns the cluster name</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getClusterNameRequest"
				message="tns:getClusterName" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getClusterNameResponse"
				message="tns:getClusterNameResponse" />
		</operation>
		<operation name="getClusterStatus">
			<documentation>Returns the cluster status</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getClusterStatusRequest"
				message="tns:getClusterStatus" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getClusterStatusResponse"
				message="tns:getClusterStatusResponse" />
		</operation>
		<operation name="getHostNames">
			<documentation>Returns names of all available hosts</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getHostNamesRequest"
				message="tns:getHostNames" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/getHostNamesResponse"
				message="tns:getHostNamesResponse" />
		</operation>
		<operation name="submit">
			<documentation>Submit a new job</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/submitRequest"
				message="tns:submit" />
			<output
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/submitResponse"
				message="tns:submitResponse" />
		</operation>
		<operation name="endJob">
			<documentation>Callback function: PJSDispatch declares a job
				terminated
			</documentation>
			<input wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/endJob"
				message="tns:endJob" />
		</operation>
		<operation name="suspendJob">
			<documentation>Suspend a job</documentation>
			<input wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/suspendJob"
				message="tns:suspendJob" />
		</operation>
		<operation name="resumeJob">
			<documentation>Resume a job</documentation>
			<input wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/resumeJob"
				message="tns:resumeJob" />
		</operation>
		<operation name="killJob">
			<documentation>Kill a job</documentation>
			<input wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/killJob"
				message="tns:killJob" />
		</operation>
		<operation name="suspendJobGroup">
			<documentation>Suspend an entire jobGroup</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/suspendJobGroup"
				message="tns:suspendJobGroup" />
		</operation>
		<operation name="resumeJobGroup">
			<documentation>Resume an entire jobGroup</documentation>
			<input
				wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/resumeJobGroup"
				message="tns:resumeJobGroup" />
		</operation>
		<operation name="killJobGroup">
			<documentation>Kill an entire jobGroup</documentation>
			<input wsam:Action="http://service.sol6.PJS.dp2.polito.it/PJSMaster/killJobGroup"
				message="tns:killJobGroup" />
		</operation>
	</portType>
	<binding name="PJSMasterPortBinding" type="tns:PJSMaster">
		<documentation>Port Bindings... All literal (useless do it encoded,
			this is a demonstrative web service)</documentation>
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="getHosts">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getJobGroups">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getJobs">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getMasterHost">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getClusterName">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getClusterStatus">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getHostNames">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="submit">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="endJob">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="suspendJob">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="resumeJob">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="killJob">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="suspendJobGroup">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="resumeJobGroup">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
		<operation name="killJobGroup">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
		</operation>
	</binding>
	<service name="PJSMasterService">
		<documentation>Service ports (in our case only one...)</documentation>
		<port name="PJSMasterPort" binding="tns:PJSMasterPortBinding">
			<soap:address location="http://localhost:8182/PJSMaster" />
		</port>
	</service>
</definitions>