Assignment6/wsdl/PJSMaster/PJSMaster1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<xs:schema xmlns:tns="http://service.sol6.PJS.dp2.polito.it/" xmlns:ns1="http://pad.polito.it/PJSInfo" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.sol6.PJS.dp2.polito.it/">

<xs:import namespace="http://pad.polito.it/PJSInfo" schemaLocation="http://localhost:8182/PJSMaster?xsd=2"/>

<xs:element name="NoFreeExecutionHost" type="tns:NoFreeExecutionHost"/>

<xs:element name="getClusterName" type="tns:getClusterName"/>

<xs:element name="getClusterNameResponse" type="tns:getClusterNameResponse"/>

<xs:element name="getClusterStatus" type="tns:getClusterStatus"/>

<xs:element name="getClusterStatusResponse" type="tns:getClusterStatusResponse"/>

<xs:element name="getHostNames" type="tns:getHostNames"/>

<xs:element name="getHostNamesResponse" type="tns:getHostNamesResponse"/>

<xs:element name="getHosts" type="tns:getHosts"/>

<xs:element name="getHostsResponse" type="tns:getHostsResponse"/>

<xs:element name="getJobGroups" type="tns:getJobGroups"/>

<xs:element name="getJobGroupsResponse" type="tns:getJobGroupsResponse"/>

<xs:element name="getJobs" type="tns:getJobs"/>

<xs:element name="getJobsResponse" type="tns:getJobsResponse"/>

<xs:element name="getMasterHost" type="tns:getMasterHost"/>

<xs:element name="getMasterHostResponse" type="tns:getMasterHostResponse"/>

<xs:element name="killJob" type="tns:killJob"/>

<xs:element name="killJobGroup" type="tns:killJobGroup"/>

<xs:element name="resumeJob" type="tns:resumeJob"/>

<xs:element name="resumeJobGroup" type="tns:resumeJobGroup"/>

<xs:element name="submit" type="tns:submit"/>

<xs:element name="submitResponse" type="tns:submitResponse"/>

<xs:element name="suspendJob" type="tns:suspendJob"/>

<xs:element name="suspendJobGroup" type="tns:suspendJobGroup"/>

<xs:complexType name="getHostNames">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHostNamesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getJobGroups">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getJobGroupsResponse">
<xs:sequence>
<xs:element name="return" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence/>
<xs:attribute name="name" type="xs:ID" use="required"/>
<xs:attribute name="description" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="killJob">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClusterName">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getClusterNameResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resumeJobGroup">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getJobs">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getJobsResponse">
<xs:sequence>
<xs:element name="return" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence/>
<xs:attribute name="jobID" type="xs:string" use="required"/>
<xs:attribute name="state" type="ns1:JobStatus" use="required"/>
<xs:attribute name="submissionHost" type="xs:string" use="required"/>
<xs:attribute name="submissionTime" type="xs:long" use="required"/>
<xs:attribute name="jobGroup" type="xs:string"/>
<xs:attribute name="executionHost" type="xs:string"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getMasterHost">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getMasterHostResponse">
<xs:sequence>
<xs:element name="return" minOccurs="0">
<xs:complexType>
<xs:sequence/>
<xs:attribute name="name" type="xs:string" use="required"/>
<xs:attribute name="type" type="ns1:HostType" use="required"/>
<xs:attribute name="status" type="ns1:HostStatus" use="required"/>
<xs:attribute name="load" type="xs:int"/>
<xs:attribute name="memory" type="xs:int"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClusterStatus">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getClusterStatusResponse">
<xs:sequence>
<xs:element name="return" type="ns1:ClusterStatus" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suspendJobGroup">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="killJobGroup">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resumeJob">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHosts">
<xs:sequence>
<xs:element name="arg0" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHostsResponse">
<xs:sequence>
<xs:element name="return" nillable="true" minOccurs="0" maxOccurs="unbounded">
<xs:complexType>
<xs:sequence/>
<xs:attribute name="name" type="xs:string" use="required"/>
<xs:attribute name="type" type="ns1:HostType" use="required"/>
<xs:attribute name="status" type="ns1:HostStatus" use="required"/>
<xs:attribute name="load" type="xs:int"/>
<xs:attribute name="memory" type="xs:int"/>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="suspendJob">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submit">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="NoFreeExecutionHost">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>